@font-face {
  font-family: "TTSquaresCondensed-Thin";
  src: local("TTSquaresCondensed-Thin"), url(~fonts/TTSquaresCondensed-Thin.eot);
  src: local("TTSquaresCondensed-Thin"), url(~fonts/TTSquaresCondensed-Thin.eot?#iefix) format("embedded-opentype"), url(~fonts/TTSquaresCondensed-Thin.woff2) format("woff2"), url(~fonts/TTSquaresCondensed-Thin.woff) format("woff"), url(~fonts/TTSquaresCondensed-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Hermit-Light";
  src: local("Hermit-Light"), url(~fonts/Hermit-light.otf) format("opentype");
}

@font-face {
  font-family: "SF-Pro-Display";
  src: local("SF-Pro-Display"), url(~fonts/SF-Pro-Display-Regular.otf) format("opentype");
}

$primary-color: #afe3d7;

body {
  background: black;
  font: 1em "Hermit-Light", monospace;
  margin: 0;
}

body,
input {
  color: $primary-color;
}

.modal {
  font-family: "SF-Pro-Display";
}
