@import "_variables";

@font-face {
  font-family: "Operator-Mono";
  src: local("Operator-Mono"), url(~fonts/OperatorMono-XLight.otf) format("opentype");
}

@font-face {
  font-family: "SF-Pro-Display";
  src: local("SF-Pro-Display"), url(~fonts/SF-Pro-Display-Regular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: local("SF-Pro-Display"), url(~fonts/SF-Pro-Display-RegularItalic.otf) format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: local("SF-Pro-Display"), url(~fonts/SF-Pro-Display-Semibold.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: local("SF-Pro-Display"), url(~fonts/SF-Pro-Display-SemiboldItalic.otf) format("opentype");
  font-weight: bold;
  font-style: italic;
}

body {
  font: 1rem "Operator-Mono", monospace;
  margin: 0;
}

body,
input {
  color: $terminal-primary;
}

.nav-link {
  cursor: default;
}

.modal {
  color: initial;
  font: 0.9rem "SF-Pro-Display";
}
