@font-face {
  font-family: "TTSquaresCondensed-Thin";
  src: local("TTSquaresCondensed-Thin"), url(~fonts/TTSquaresCondensed-Thin.eot);
  src: local("TTSquaresCondensed-Thin"), url(~fonts/TTSquaresCondensed-Thin.eot?#iefix) format("embedded-opentype"), url(~fonts/TTSquaresCondensed-Thin.woff2) format("woff2"), url(~fonts/TTSquaresCondensed-Thin.woff) format("woff"), url(~fonts/TTSquaresCondensed-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Operator-Mono";
  src: local("Operator-Mono"), url(~fonts/OperatorMono-XLight.otf) format("opentype");
}

@font-face {
  font-family: "SF-Pro-Display";
  src: local("SF-Pro-Display"), url(~fonts/SF-Pro-Display-Regular.otf) format("opentype");
}

$primary-color: #afe3d7;

:export {
  primaryColor: $primary-color;
}

body {
  font: 1rem "Operator-Mono", monospace;
  margin: 0;
}

body,
input {
  color: $primary-color;
}

.nav-link {
  cursor: default;
}

.modal {
  color: initial;
  font-family: "SF-Pro-Display";
}
