$line-height: 1.4rem;

.terminal {
  @extend .container-fluid;
  @extend .p-3;
  min-height: 100vh;

  p {
    line-height: $line-height;
    margin-bottom: 0;
  }
}

.terminal__input {
  @extend .p-0;
  background: none;
  border: none;
  flex-grow: 1;
  height: $line-height;
  margin-top: -1px;
  
  &:focus {
    outline: none;
    + .terminal__caret span {
      animation: blinker 0.7s cubic-bezier(0.42, 0, 0.58, 1) infinite alternate;
    }
  }
}

.terminal__caret {
  height: $line-height;
  padding-top: 3px;

  &::before {
    background: $dark;
    content: "";
    height: $line-height;
    position: absolute;
    top: 0;
    width: 1px;
  }
}

@keyframes blinker {
  50% { opacity: 0; }
}
