$line-height: 1.3rem;

.terminal {
  @extend .container-fluid;
  @extend .p-3;
  min-height: 100vh;

  p {
    line-height: $line-height;
    margin-bottom: 0;
  }
}

.terminal__input {
  @extend .p-0;
  background: none;
  border: none;
  flex-grow: 1;
  height: $line-height;
  margin-top: -1px;
  
  &:focus {
    outline: none;
  }
}
