#cic_data_modal {
  max-width: 95%;
  &:focus { outline: none; }

  .nav-link.active:hover { color: #fff; }

  .btn-toggle-min-max {
    padding-bottom: 2px;
    position: absolute;
    right: 0;
  }

  .modal-body   { height: 85vh; }
  .tab-content  { height: 95%; }
  .tab-pane {
    height: 100%;
    overflow-y: scroll;
  }

  .view-tab {
    overflow-y: visible;
  }

  .table-wrapper {
    height: calc(100% - 38px);
    margin-top: 21px;
    overflow-y: scroll;
  }
}

.cic-data-table {
  word-break: break-word;

  caption { caption-side: top; }
  p { margin-bottom: 0; }

  thead th,
  td {
    vertical-align: middle;
    &:nth-child(3) { width: 50%; }
  }
}

.search-field {
  font-size: 0.9rem;
  &:focus { box-shadow: none; }
}
